.pf-v5-c-login__container {
    grid-template-columns: 34rem;
    grid-template-areas: "header"
                         "main"
}

.login-pf body {
    background: url("../img/j4care-bg.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}

#kc-header::before{
    content: "";
    display: block;
    background-image: url(../img/j4care-logo.png);
    background-repeat: no-repeat;
    height: 42px;
    width: 148px;
    margin: 0 auto;
    position: absolute;
    left: 40px;
    top: 10px;
}
div.kc-logo-text {
    background-image: url(../img/j4care-logo.png);
    background-repeat: no-repeat;
    height: 42px;
    width: 148px;
    margin: 0 auto;
}

div.kc-logo-text span {
    display: none;
}

.kc-login-tooltip {
    position: relative;
    display: inline-block;
}

.kc-login-tooltip .kc-tooltip-text{
    top:-3px;
    left:160%;
    background-color: black;
    visibility: hidden;
    color: #fff;

    min-width:130px;
    text-align: center;
    border-radius: 2px;
    box-shadow:0 1px 8px rgba(0,0,0,0.6);
    padding: 5px;

    position: absolute;
    opacity:0;
    transition:opacity 0.5s;
}

/* Show tooltip */
.kc-login-tooltip:hover .kc-tooltip-text {
    visibility: visible;
    opacity:0.7;
}

/* Arrow for tooltip */
.kc-login-tooltip .kc-tooltip-text::after {
    content: " ";
    position: absolute;
    top: 15px;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

#kc-recovery-codes-list {
    columns: 2;
}

#certificate_subjectDN {
    overflow-wrap: break-word
}

#kc-header-wrapper {
    font-size: 29px;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 1.2em;
    white-space: normal;
    text-align: center;
}

hr {
    margin-top: var(--pf-v5-global--spacer--sm);
    margin-bottom: var(--pf-v5-global--spacer--md);
}

@media (min-width: 768px) {
    div.pf-v5-c-login__main-header {
        grid-template-columns: 70% 30%;
    }
}

.pf-v5-c-login__main{
    background: rgba(255, 255, 255, 0.85);
    color:rgb(54, 54, 54);
}
.pf-v5-c-login__main .pf-v5-c-button.pf-m-primary, .pf-v5-c-button.pf-m-control{
    background-color: rgba(6, 29, 47, 0.84);
}

.pf-v5-c-login__main input{
    background: white;
    color: black;
}


#kc-header #kc-header-wrapper{
    color:rgb(54, 54, 54) ;
}
